body {
  background: url('kanye.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 5vh;
  text-align: center;
}

h1 {
  margin: 0;
}

section {
  padding: 2vh;
}

article {
  margin-bottom: 2vh;
  border: 2px solid #3b3b3b;
  border-radius: 1vh;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #343333;
}

h2 {
  background-color: #333;
  color: #fff;
  padding: 1vh;
  margin: 0;
}

p {
  padding: 1vh;
  margin: 0;
}

h2 {
  background-color: #555;
  color: #fff;
  padding: 1vh;
  margin: 0;
}
